* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  .flex{
    display: flex;
  }
  .flex-cl{
    flex-direction: column;
  }
  .border-white{
    border: 1px solid white;
  }
  .items-center{
    align-items: center;
  }
  .justify-center{
    justify-content: center;
  }
  .justify-between{
    justify-content: space-between;
  }
  .bg-blue-950{
    background-color: rgb(23, 37, 84);
  }
  .bg-orange{
     background-color: rgb(235, 174, 60);
  }
  .cl-white{
    
    color: white;
  }
  .cl-blue{
    color: rgb(41, 38, 196);
  }
  .cl-black{
    color: black;
  }
  .pt-5{
    padding-top: 1.5rem;
  }
  .pb-5{
    padding-bottom: 1.5rem;
  }
  .mt-12{
    margin-top: 8px;
  }
  .h-10{
    height: 20px;
  }
  .pl-200{
    padding-left: 225px;
  }
  .pr-200{
    padding-right: 225px;
  }
  .mt-20{
    margin-top: 20px;
  }
  .mb-20{
    margin-bottom: 20px;
  }
  .w-10{
    width: 20px;
  }
  .w-200{
    width: 500px;
  }
  .w-25p{
    width: 25%;
  }
  .w-40p{
    width: 40%;
  }
  .mt-15{
    margin-top: 15px;
  }
  .mb-5{
    margin-bottom: 5px;
  }
  .pl-5{
    padding-left: 5px;
  }
  .pr-5{
    padding-right: 5px;
  }
  .pt-10{
    padding-top: 20px;
  }
  .pb-30{
    padding-bottom: 30px;
  }
  .pt-30{
    padding-top: 30px;
  }
  .pb-10{
    padding-bottom: 20px;
  }
  .pt-5{
    padding-top: 5px;
  }
  .pb-5{
    padding-bottom: 5px;
  }
  .pb-20{
    padding-bottom: 50px;
  }
  .ml-10{
    margin-left: 10px;
  }
  .pl-30{
    padding-left: 30px;
  }
  .border{
    border: 1px solid black;
  }
  .gap-5{
    gap: 5px;
  }
  .gap-10{
    gap: 10px;
  }  
  .gap-25p{
    gap: 25%;
  }
  .font-20 {
    font-size: 20px;
  }
  
  a{
    text-decoration: none;
  }
  .gap-40p{
    gap: 40%;
  }
  .w-300{
    width: 300px;
  }
  .w-25{
    width: 20px;
  }
  .h-15{
    height: 30px;
  }
  .w-30{
    width: 30px;
  }
  .h-25{
    height: 20px;
  }
  .h-150{
    height: 300px;
  }
  .border-bottom{
    border-bottom: 1px solid black;
  }
  .border-top{
    border-top: 1px solid white;
  }
  .padding{
    padding: 1rem;
  }
  .round-8{
    border-radius: 8px;
  }

  .w-full{
    width: 100%;
  }

.text-center{
  text-align: center;
}
.bg-orange:hover {
  background-color: rgb(211, 143, 16);
}
.bg-blue-950:hover{
  background-color:rgb(9, 22, 66) ;
}
.outline{
  outline: none;
}
.border-h:hover{
  border: 1px solid white;
}
